<!doctype html>
<html lang="ru">
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask-site</title>
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
<ul class="mainmenu">
    {% for temp in menu -%}
    <li><a href="{{temp.url}}">{{temp.name}}</a></li>
    {% endfor -%}
</ul>
    {% endblock mainmenu -%}
{% endblock %}
</body>
</html>